<h2>Car Price Prediction</h2>
<form (submit)="predict(); $event.preventDefault();">
    <label>Year:</label>
    <input [(ngModel)]="year" type="number" name="year"><br>

    <label>Mileage:</label>
    <input [(ngModel)]="mileage" type="number" name="mileage"><br>

    <label>Engine Size:</label>
    <input [(ngModel)]="engine_size" type="number" step="0.1" name="engine_size"><br>

    <button type="submit">Predict</button>
</form>
@if (predictedPrice!=null) {
<h3>Predicted Price: ${{ predictedPrice }}</h3>
}